<div class="flex justify-between mb-4">
    <div class="w-1/2 px-4">
        <h2>Got a talk idea? We want to see it!</h2>
        <p>
            We’re pleased to announce our {{ site.title }}, that is part of one of the best OSS conferences,
            where community members from around the world come together to learn and share information about the latest
            trends and technologies in open source context. So the {{ site.title }} will do same for PHP. But we will also try
            to introduce and mentor new speaker, which can submit an idea only and we would like to help them from the idea to talk.
        </p>
    </div>

    <div class="w-1/2 px-4">
        <h2>Speaker Package</h2>
        <p>
            Note that unless we find a sponsor for this, we won't be able to cover your travel expenses.
            This is an almost free conference organized by volunteers. We do not get any money for doing this,
            it just costs us time. But promised, we gonna have a lot of fun. Further information:
            <a href="{{ url('speaker_package') }}" class="text-brand text-bold">speaker information</a>
        </p>
    </div>
</div>

<div class="mt-8 px-4">
    <h2>Diversity Matters!</h2>
    <p>
        The FrOSCon, and so its side track {{ site.title }}, is committed to creating a conference that is as inclusive as possible.
        Feel free to contact us via <a href="mailto:cfp@froscon-php-track.de?subject=Diversity" title="Mail to FrOSCon PHP Track">Mail</a>
        or <a href="https://twitter.com/FrOSConPHPTrack" target="_blank" title="FrOSCon PHP Track at Twitter">Twitter</a>a
        if there is something blocking to commit or to join.
    </p>
    <p>
        According to new or unexperienced speakers, we will give you the support you would like to have to get your idea on the stage. Just give us
        a note, whether you do need support within the comments of your proposal. Feel free to draw some ideas in form of bullet points in your abstract.
        You will get a mentor, which helps you from your idea to the talk. Just as a site note: Our stage isn't a stage at all. FrOSCon takes place inside
        a University, so the {{ site.title }} takes place in a seminar room. So there is nothing to be scarred of.
    </p>
    <p>
        We want to showcase talent available around the World and welcome international submissions as well.
    </p>
    <p>
        We are also committed to ensuring the conference is a place
        where ideas are exchanged, old friends get together, new friends meet and <strong>harassment
        is not tolerated</strong>. We expect speakers, attendees and sponsor representatives to be
        professional and courteous to each other. We reserve the right to remove, without refund,
        ANY attendee (speaker or otherwise) who is unable to adhere to this policy.
    </p>
</div>
