{% extends "layouts/dashboard.twig" %}
{% block content %}
  <h2 class="headline">{{ talk.title }}</h2>

  <p>{{ talk.description|markdown }}</p>

  <p><strong>Other Info:</strong> {{ talk.other|markdown }}</p>

  <p><strong>Slides:</strong> <a href="{{ talk.slides }}">{{ talk.slides }}</a></p>
  <p><strong>Type:</strong> {{ talkHelper.getTypeDisplayName(talk.type) }}</p>
  <p><strong>Level:</strong> {{ talkHelper.getLevelDisplayName(talk.level) }}</p>
  <p><strong>Category:</strong> {{ talkHelper.getCategoryDisplayName(talk.category) }}</p>
  <p><strong>Desired:</strong> {{ talk.desired ? 'true' : 'false' }}</p>
  <p><strong>Sponsor:</strong> {{ talk.sponsor ? 'true' : 'false' }}</p>
{% endblock %}