<table class="table table-striped">
    <thead>
        <tr>
            <th align='left'><b>Title</b></th>
            <th align='left'><b>Type</b></th>
            <th align='left'><b>Category</b></th>
            <th align='left'><b>Created On</b></th>
            <th align='left'><b>Submitted by</b></th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        {% for talk in talks %}
            <tr>
                <td><a href="{{ url('admin_talk_view', { id: talk.id }) }}">{{ talk.title|raw }}</a></td>
                <td>{{ talk.type }}</td>
                <td>{{ talk.category }}</td>
                <td>{{ talk.created_at|date("F jS Y \\a\\t g:ia T") }}</td>
                {% if false == talk.user %}
                <td><em>Unknown User</em></td>
                {% else %}
                <td><a href="{{ url('admin_speaker_view', { id: talk.user.id }) }}">{{ talk.user.first_name }} {{ talk.user.last_name }}</a></td>
                {% endif %}
                <td>
                    <a href="#" id="talk-favorite-{{ talk.id }}" class="js-talk-favorite" data-id="{{ talk.id }}"><i class="fa fa-star star-favorite{% if talk.favorite == 1 %} star-favorite--selected{% endif %}"></i></a>
                    <a href="#" id="talk-select-{{ talk.id }}" class="js-talk-select" data-id="{{ talk.id }}"><i class="fa fa-check-square check-select{% if talk.selected == 1 %} check-select--selected{% endif %}"></i></a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
