{% extends "layouts/admin.twig" %}
{% block content %}
    <h2 class="headline">Submitted Talks</h2>
    <form method="get" class="mb-8" role="form">
        <input type="hidden" name="order_by" value="{{ order_by }}">
        <input type="hidden" name="sort" value="{{ sort }}">

        <div class="flex justify-between items-center">
            <div class="flex items-center">
                <div class="mr-4">
                    <label>Per Page:</label>
                    <select name="per_page" class="form-control">
                        <option value="20">20</option>
                        <option value="40"{% if per_page == 40 %} SELECTED{% endif %}>40</option>
                        <option value="60"{% if per_page == 60 %} SELECTED{% endif %}>60</option>
                        <option value="80"{% if per_page == 80 %} SELECTED{% endif %}>80</option>
                        <option value="100"{% if per_page == 100 %} SELECTED{% endif %}>100</option>
                    </select>
                </div>
                <div>
                    <label>Filter By:</label>
                    <select name="filter" class="form-control">
                        <option value="">None</option>
                        <option value="favorited"{% if filter|lower == 'favorited' %} SELECTED{% endif %}>Favorited Talks</option>
                        <option value="toprated"{% if filter|lower == 'toprated' %} SELECTED{% endif %}>Top Rated Talks</option>
                        <option value="plusone"{% if filter|lower == 'plusone' %} SELECTED{% endif %}>Talks Rated +1</option>
                        <option value="notrated"{% if filter|lower == 'notrated' %} SELECTED{% endif %}>Not Rated Talks</option>
                        <option value="viewed"{% if filter|lower == 'viewed' %} SELECTED{% endif %}>Viewed Talks</option>
                        <option value="notviewed"{% if filter|lower == 'notviewed' %} SELECTED{% endif %}>Not Viewed Talks</option>
                        <option value="selected"{% if filter|lower == 'selected' %} SELECTED{% endif %}>Selected Talks</option>
                    </select>
                </div>
                <div>
                    <label>Category:</label>
                    <select name="category" class="form-control">
                        <option value="">None</option>
                        {% for categoryKey, displayCategory in talkCategories %}
                            <option value="{{ categoryKey }}" {% if category == categoryKey %}selected {% endif %}>{{ displayCategory }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div>
                    <label>Type:</label>
                    <select name="type" class="form-control">
                        <option value="">None</option>
                        {% for typeKey, displayType in talkTypes %}
                            <option value="{{ typeKey }}" {% if type == typeKey %}selected {% endif %}>{{ displayType }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <button type="submit" class="btn btn-brand mt-2 ml-4">Go</button>
        </div>
        <div class="mt-2 ml-8 pagerfanta">
            {{ pagination|raw }}
        </div>
    </form>

    {% if talks is not empty %}
        {% for talk in talks %}
            <div id="talk-{{ talk.id }}" class="flex items-center justify-between mb-8">
                <div class="w-5/6">
                    <h3 class="m-0"><a class="hover:text-brand" href="{{ url('admin_talk_view', { id: talk.id }) }}">{{ talk.title|raw }}</a><span class="text-sm text-grey-dark"> &mdash; {{ talk.speaker.name }}</span></h3>
                    <p class="text-sm text-dark-soft mb-3">{{ talk.description | truncate(200) }}</p>
                    <div>
                        <span class="bg-brand text-white text-xs rounded-full py-2 px-3 mr-2"><i class="fa fa-clock-o"></i> {{ talkHelper.getTypeDisplayName(talk.type) }}</span>
                        <span class="bg-brand text-white text-xs rounded-full py-2 px-3"><i class="fa fa-graduation-cap"></i> {{ talkHelper.getCategoryDisplayName(talk.category) }}</span>
                    </div>
                </div>
                <div>
                    <a href="#" id="talk-upvote-{{ talk.id }}" class="js-talk-rating" data-id="{{ talk.id }}" data-rating="1" title="I want to see this talk"><i class="fa fa-thumbs-up {% if talk.rating == 1 %}text-green-dark{% endif %}"></i></a>
                    <a href="#" id="talk-downvote-{{ talk.id }}" class="js-talk-rating" data-id="{{ talk.id }}" data-rating="-1" title="I don't want to see this talk"><i class="fa fa-thumbs-down {% if talk.rating == -1 %}text-red-dark{% endif %}"></i></a>
                    <a href="#" id="talk-favorite-{{ talk.id }}" class="js-talk-favorite" data-id="{{ talk.id }}" title="Favorite!"><i class="fa fa-star {% if talk.myFavorite == 1 %}text-orange-dark{% endif %}"></i></a>
                    <a href="#" id="talk-select-{{ talk.id }}" class="js-talk-select" data-id="{{ talk.id }}" title="Select this talk"><i class="fa fa-check-square {% if talk.selected == 1 %}text-indigo-dark{% endif %}"></i></a>
                </div>
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}
{% block scripts %}
  {{ parent() }}
    <script src="{{ assets('js/admin/querystring.js') }}"></script>
    <script src="{{ assets('js/admin/talk.js') }}"></script>
{% endblock %}
