<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}{{ site.title }}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap -->
        <link href="{{ site.url }}/assets/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link href="{{ site.url }}/assets/css/site.css" rel="stylesheet" media="screen">
        <link href="{{ site.url }}/assets/css/font-awesome.min.css" rel="stylesheet" media="screen">
        <link href='//fonts.googleapis.com/css?family=Open+Sans:300,700|Open+Sans+Condensed:700,300|Sanchez' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <div class="navbar navbar-lsp navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li{% if "/admin" == current_page %} class="active"{% endif %}><a href="{{ site.url }}/admin">Dashboard</a></li>
                        <li{% if "/admin/talks" == current_page %} class="active"{% endif %}><a href="{{ site.url }}/admin/talks">Talks</a></li>
                        <li{% if "/admin/speakers" == current_page %} class="active"{% endif %}><a href="{{ site.url }}/admin/speakers">Speakers</a></li>
                        <li{% if "/admin/admins" == current_page %} class="active"{% endif %}><a href="{{ site.url }}/admin/admins">Admins</a></li>
                        <li{% if "/admin/review" == current_page %} class="active"{% endif %}><a href="{{ site.url }}/admin/review">Review Talks</a></li>
                    </ul>
                    {% block navigation %}
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="{{ site.url }}/logout">logout</a>
                            </li>
                        </ul>
                    {% endblock %}
                </div>
            </div>
        </div>

        <div class="container">
            <div class="module">
                {% include "_flash.twig" %}
                {% block content %}
                {% endblock %}
            </div>
        </div>
        <script src="//code.jquery.com/jquery-1.10.0.min.js"></script>
        <script src="{{ site.url }}/assets/js/bootstrap.min.js"></script>
        {% block scripts %}{% endblock %}
    </body>
</html>
