<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}{{ site.title }}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap -->
        <link href="/assets/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link href="/assets/css/site.css" rel="stylesheet" media="screen">
        <link href="/assets/css/font-awesome.min.css" rel="stylesheet" media="screen">
        <link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Roboto:400,700,300' rel='stylesheet' type='text/css'>
    </head>
    <body class="dashboard">
        <div class="navbar navbar-opencfp navbar-fixed-top section--full" role="navigation">
            <a href="{{ url('dashboard') }}" class="logo pull-left"><img data-src="/assets/img/logo.svg" class="svg-inject" alt="Open CFP"></a>
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse">
                {% block navigation %}
                    <ul class="nav navbar-nav navbar-right">
                        <li{% if path('speaker_package') == current_page %} class="active"{% endif %}><a href="{{ url('speaker_package') }}">Speaker Package</a></li>
                        <li{% if path('talk_ideas') == current_page %} class="active"{% endif %}><a href="{{ url('talk_ideas') }}">Talk Ideas</a></li>
                        {% if user.permissions.admin is defined and user.permissions.admin == true %}
                            <li><a href="{{ url('admin') }}">Admin</a></li>
                        {% endif %}
                        {% if user is defined and user is not empty %}
                            <li><a href="{{ url('logout') }}">Logout</a></li>
                        {% else %}
                            <li><a href="{{ url('login') }}">Login</a></li>
                        {% endif %}
                    </ul>
                {% endblock %}
            </div>
        </div>
        <div class="section">
            <div class="container">
                <ul class="nav nav-tabs" role="tablist">
                    {% if user is defined and user is not empty %}
                        <li{% if path('dashboard') == current_page %} class="active"{% endif %}><a href="{{ url('dashboard') }}">Dashboard</a></li>
                        <li{% if path('password_edit') == current_page %} class="active"{% endif %}><a href="{{ url('password_edit') }}">Change Password</a></li>
                        <li{% if path('user_edit', { id: user.id }) == current_page %} class="active"{% endif %}><a href="{{ url('user_edit', { id: user.id }) }}">Edit Profile</a></li>
                    {% endif %}
                </ul>
                <div class="module">
                    <div class="module__body">
                        {% include "_flash.twig" %}
                        {% block content %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
        {% block scripts %}
            <script src="//code.jquery.com/jquery-1.10.0.min.js"></script>
            <script src="/assets/js/bootstrap.min.js"></script>
            <script src="/assets/js/svg-injector.min.js"></script>
            <script>
              // Elements to inject
              var mySVGsToInject = document.querySelectorAll('img.svg-inject');

              // Do the injection
              SVGInjector(mySVGsToInject);
            </script>
        {% endblock %}
    </body>
</html>
