{% if user is defined and user is not empty %}
    {% set profile_edit_url = '/profile/edit/' ~ user.id %}
    {% set navigation_bar = [['/dashboard', 'Dashboard'], ['/profile/change_password', 'Change Password'], [profile_edit_url, 'Edit Profile'], ['/logout', 'Logout']] %}
{% else %}
    {% set navigation_bar = [['/login', 'Login']] %}
{% endif %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}{{ site.title }}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap -->
        <link href="{{ site.url }}/assets/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link href="{{ site.url }}/assets/css/site.css" rel="stylesheet" media="screen">
        <link href="{{ site.url }}/assets/css/font-awesome.min.css" rel="stylesheet" media="screen">
        <link href='//fonts.googleapis.com/css?family=Source+Sans+Pro|Roboto:400,700,300' rel='stylesheet' type='text/css'>
    </head>
    <body class="dashboard">
        <div class="navbar navbar-opencfp navbar-fixed-top section--full" role="navigation">
            <a href="{{ site.url }}/" class="logo pull-left"><img data-src="/assets/img/logo.svg" class="svg-inject" alt="Open CFP"></a>
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse">
                {% block navigation %}
                    <ul class="nav navbar-nav navbar-right">
                        <li{% if "/package" == current_page %} class="active"{% endif %}><a href="{{ site.url }}/package">Speaker Package</a></li>
                        <li{% if "/ideas" == current_page %} class="active"{% endif %}><a href="{{ site.url }}/ideas">Talk Ideas</a></li>
                        {% if permissions is defined and permissions.admin == true %}
                            <li><a href="{{ site.url }}/admin">Admin</a></li>
                        {% endif %}
                        <li><a href="{{ site.url }}/logout">Logout</a></li>
                    </ul>
                {% endblock %}
            </div>
        </div>
        <div class="section">
            <div class="container">
                <ul class="nav nav-tabs" role="tablist">
                {% for item in navigation_bar %}
                    <li{% if item[0] == current_page %} class="active"{% endif %}>
                        <a href="{{ site.url }}{{ item[0] }}">{{item[1]}}</a>
                    </li>
                {% endfor %}
                </ul>
                <div class="module">
                    <div class="module__body">
                        {% include "_flash.twig" %}
                        {% block content %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
        {% block scripts %}
            <script src="http://code.jquery.com/jquery-1.10.0.min.js"></script>
            <script src="/assets/js/bootstrap.min.js"></script>
            <script src="/assets/js/svg-injector.min.js"></script>
            <script>
              // Elements to inject
              var mySVGsToInject = document.querySelectorAll('img.svg-inject');

              // Do the injection
              SVGInjector(mySVGsToInject);
            </script>
        {% endblock %}
    </body>
</html>
