{% if app.user %}
    {% set navigation_bar = [['/', 'Home'], ['/dashboard', 'Dashboard'], ['/logout', 'Logout']] %}
    {% set active_page = active_page|default('/dashboard') %}
{% else %}
    {% set navigation_bar = [['/', 'Home']] %}
    {% set active_page = active_page|default('/home') %}
{% endif %}
<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{{ site.title }}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap -->
        <link href="{{ site.url }}/assets/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link href="{{ site.url }}/assets/css/site.css" rel="stylesheet" media="screen">
    </head>
    <body>
        <div class="container-narrow">
            <div class="masthead">
                {% block navigation %}
                    <ul id="navigation" class="nav nav-pills pull-right">
                        {% for item in navigation_bar %}
                            <li{% if item[0] == active_page %} class="active"{% endif%}>
                            <a href="{{ site.url }}{{ item[0] }}">{{item[1]}}</a></li>
                        {% endfor %}
                    </ul>
                {% endblock %}
                {% block mainheading %}<h3 class="muted">{{ site.title}}</h3>{% endblock %}
            </div>
            {% block content %}
            {% endblock %}
        </div>
        {% block scripts %}
            <script src="http://code.jquery.com/jquery-1.10.0.min.js"></script>
            <script src="{{ site.url }}/assets/js/bootstrap.min.js"></script>
        {% endblock %}
    </body>
</html>
