{% if user is defined and user is not empty %}
    {% set profile_edit_url = '/profile/edit/' ~ user.id %}
    {% set navigation_bar = [['/dashboard', 'Dashboard'], ['/profile/change_password', 'Change Password'], [profile_edit_url, 'Edit Profile'], ['/logout', 'Logout']] %}
{% else %}
    {% set navigation_bar = [['/login', 'Login']] %}
{% endif %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}{{ site.title }}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap -->
        <link href="{{ site.url }}/assets/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link href="{{ site.url }}/assets/css/site.css" rel="stylesheet" media="screen">
        <link href="{{ site.url }}/assets/css/font-awesome.min.css" rel="stylesheet" media="screen">
        <link href='//fonts.googleapis.com/css?family=Open+Sans:300,700|Open+Sans+Condensed:700,300|Sanchez' rel='stylesheet' type='text/css'>
    </head>
    <body{% if "/" == current_page %} class="home-page"{% endif %}>
        <div class="navbar navbar-lsp navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li{% if "/" == current_page %} class="active"{% endif %}><a href="{{ site.url }}/">Home</a></li>
                        <li{% if "/package" == current_page %} class="active"{% endif %}><a href="{{ site.url }}/package">Speaker Package</a></li>
                        <li{% if "/ideas" == current_page %} class="active"{% endif %}><a href="{{ site.url }}/ideas">Talk Ideas</a></li>
                    </ul>
                    {% block navigation %}
                        <ul class="nav navbar-nav navbar-right">
                            {% if permissions is defined and permissions.admin == true %}
                                <li><a href="{{ site.url }}/admin">Admin</a></li>
                            {% endif %}
                            {% for item in navigation_bar %}
                                <li{% if item[0] == current_page %} class="active"{% endif %}>
                                    <a href="{{ site.url }}{{ item[0] }}">{{item[1]}}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endblock %}
                </div>
            </div>
        </div>

        <div class="container">
            <div class="module">
                {% include "_flash.twig" %}
                {% block content %}
                {% endblock %}
            </div>
        </div>
        {% block scripts %}
            <script src="http://code.jquery.com/jquery-1.10.0.min.js"></script>
            <script src="{{ site.url }}/assets/js/bootstrap.min.js"></script>
        {% endblock %}
    </body>
</html>
