{% extends "layouts/splash.twig" %}
{% block content %}
    <div class="text-light w-1/6">
        <a class="font-serif flex items-center justify-center mb-4" href="{{ url('homepage') }}">
            <img class="w-10 mr-2" src="{{ assets('img/logo.svg') }}" alt="OpenCFP">
            <h1 class="font-normal text-white m-0">Open<span class="text-brand font-bold">CFP</span></h1>
        </a>

        {% include "_flash.twig" %}

        <form id="forgot" class="form-horizontal" action="{{ url('forgot_password_create') }}" method="POST">
            {{ form_widget(form._token) }}

            <label class="text-white text-sm">Email</label>
            {{ form_widget(form.email, {'attr': {'class': '', 'placeholder': 'you@example.com'}}) }}

            <button type="submit" class="btn btn-brand w-full">Reset Password</button>
        </form>
    </div>
{% endblock %}
