{% extends "layouts/splash.twig" %}
{% block content %}
  <div class="opencfp-login">
    <a class="font-serif flex items-center justify-center mb-4" href="{{ url('homepage') }}">
      <img class="w-10 mr-2" src="{{ assets('img/logo.svg') }}" alt="OpenCFP">
      <h1 class="font-normal text-white m-0">Open<span class="text-brand font-bold">CFP</span></h1>
    </a>

    {% include "_flash.twig" %}

    <form method="post" action="{{ url('login_check') }}">
      <label for="email" class="text-sm text-white">Email</label>
      <input id="email" type="email" name="email" value="{% if email %}{{ email | escape }}{% endif %}" class="w-full" placeholder="you@example.com">
      <label for="password" class="text-sm text-white">Password</label>
      <input id="password" type="password" name="password" class="w-full" placeholder="•••••••">
      <p class="text-right my-4"><a href="{{ url('forgot_password') }}" class="text-white text-sm">Forgot your password?</a></p>
      <button type="submit" class="btn btn-brand w-full">Login</button>
    </form>
    <br>
    {% if sso == 'on' %}
    <a href="{{ url('sso') }}"><button class="btn btn-brand w-full">Login using OpenCFP Central</button></a>
    {% endif %}
    <p class="text-light text-center text-sm my-4">New user? <a href="{{ url('user_new') }}" class="text-brand text-bold">Sign up Now</a></p>
  </div>
{% endblock %}
