<form action="{{ site.url }}{{ formAction }}" method="POST" class="form-horizontal">
    {% if id is defined %}
        <input name="id" type="hidden" value="{{ id }}">
    {% endif %}
    <div class="form-group">
        <label for="form-talk-title" class="col-sm-2 control-label">Talk Title</label>
        <div class="col-sm-10">
            <input id="form-talk-title" type="text" name="title" class="form-control" placeholder="Talk Title" value="{{ title }}" maxlength="100">
        </div>
    </div>
    <div class="form-group">
        <label for="form-talk-description" class="col-sm-2 control-label">Description/Abstract</label>
        <div class="col-sm-10">
            <textarea id="form-talk-description" name="description" class="form-control" placeholder="Give a description of your talk (Abstract)" rows="10">{{ description }}</textarea>
        </div>
    </div>
    <div class="form-group">
        <label for="form-talk-slides" class="col-sm-2 control-label">Slides</label>
        <div class="col-sm-10">
            <input id="form-talk-slides" type="text" name="slides" class="form-control" placeholder="Slides URL (if exists)" value="{{ slides }}">
        </div>
    </div>
    <div class="form-group">
        <label for="form-talk-type" class="col-sm-2 control-label">Talk Type</label>
        <div class="col-sm-10">
            <select id="form-talk-type" name="type">
                <option value="regular" {% if level == 'entry' %}selected {% endif %}>Regular</option>
                <option value="tutorial" {% if level == 'mid' %}selected {% endif %}>Tutorial</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="form-talk-category" class="col-sm-2 control-label">Talk Category</label>
        <div class="col-sm-10">
            <select id="form-talk-category" name="category">
                <option value="api" {% if category == 'api' %}selected {% endif %}>APIs (REST, SOAP, etc.)</option>
                <option value="continuousdelivery" {% if category == 'continuousdelivery' %}selected {% endif %}>Continuous Delivery</option>
                <option value="database" {% if category == 'database' %}selected {% endif %}>Database</option>
                <option value="development" {% if category == 'development' %}selected {% endif %}>Development</option>
                <option value="devops" {% if category == 'devops' %}selected {% endif %}>Devops</option>
                <option value="framework" {% if category == 'framework' %}selected {% endif %}>Framework</option>
                <option value="ibmi" {% if category == 'ibmi' %}selected {% endif %}>IBMi</option>
                <option value="javascript" {% if category == 'javascript' %}selected {% endif %}>JavaScript</option>
                <option value="security" {% if category == 'security' %}selected {% endif %}>Security</option>
                <option value="testing" {% if category == 'testing' %}selected {% endif %}>Testing</option>
                <option value="uiux" {% if category == 'uiux' %}selected {% endif %}>UI/UX</option>
                <option value="other" {% if category == 'other' %}selected {% endif %}>Other</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="form-talk-level" class="col-sm-2 control-label">Talk Level</label>
        <div class="col-sm-10">
            <select id="form-talk-level" name="level">
                <option value="entry" {% if level == 'entry' %}selected {% endif %}>Entry level</option>
                <option value="mid" {% if level == 'mid' %}selected {% endif %}>Mid-level</option>
                <option value="advanced" {% if level == 'advanced' %}selected {% endif %}>Advanced</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="form-talk-other" class="col-sm-2 control-label">Additional Talk Information</label>
        <div class="col-sm-10">
            <textarea id="form-talk-other" name="other" class="form-control" placeholder="Other Considerations, such as Joind.In, Lanyrd, local user group, etc." rows="10">{{ other }}</textarea>
        </div>
    </div>
    <div class="form-group">
        <label for="form-sponsor" class="col-sm-2 control-label">Company Sponsorship</label>
        <div class="col-sm-10 checkbox">
            <input id="form-sponsor" name="sponsor" type="checkbox" value="1" class="checkbox" {% if sponsor == '1' %}checked{% endif %}> Is your company sponsoring, or would they like to?
        </div>
    </div>
    <div class="form-group">
        <label for="form-desired" class="col-sm-2 control-label">Most Desired</label>
        <div class="col-sm-10 checkbox">
            <input id="form-desired" name="desired" type="checkbox" value="1" class="checkbox" {% if desired == '1' %}checked{% endif %}> Of your submissions, is this your best?
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-success">{{ buttonInfo }}</button>
        </div>
    </div>
</form>