<form action="{{ formAction }}" method="POST" class="form-horizontal">
    {% if id is defined %}
        <input name="id" type="hidden" value="{{ id }}">
    {% endif %}
    <div class="form-group">
        <label for="form-talk-title" class="col-sm-2 control-label">Talk Title</label>
        <div class="col-sm-10">
            <input id="form-talk-title" type="text" name="title" class="form-control" placeholder="Talk Title" value="{{ title }}" maxlength="100">
        </div>
    </div>
    <div class="form-group">
        <label for="form-talk-description" class="col-sm-2 control-label">Description/Abstract</label>
        <div class="col-sm-10">
            <textarea id="form-talk-description" name="description" class="form-control" placeholder="Give a description of your talk (Abstract)" rows="10">{{ description }}</textarea>
            <p class="help-block">Speaker abstract can be written using <a href="http://daringfireball.net/projects/markdown/basics" target="_blank">markdown</a> to support links</p>
        </div>
    </div>
    <div class="form-group">
        <label for="form-talk-slides" class="col-sm-2 control-label">Slides</label>
        <div class="col-sm-10">
            <input id="form-talk-slides" type="text" name="slides" class="form-control" placeholder="Slides URL (if exists)" value="{{ slides }}">
        </div>
    </div>
    <div class="form-group">
        <label for="form-talk-type" class="col-sm-2 control-label">Talk Type</label>
        <div class="col-sm-10">
            <select id="form-talk-type" name="type" class="form-control">
                <option value="regular" {% if type == 'regular' %}selected {% endif %}>Regular</option>
                <option value="tutorial" {% if type == 'tutorial' %}selected {% endif %}>Tutorial</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="form-talk-category" class="col-sm-2 control-label">Talk Category</label>
        <div class="col-sm-10">
            <select id="form-talk-category" name="category" class="form-control">
               {% for categoryKey, displayCategory in talkCategories %}
                <option value="{{ categoryKey }}" {% if category == categoryKey %}selected {% endif %}>{{ displayCategory }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="form-talk-level" class="col-sm-2 control-label">Talk Level</label>
        <div class="col-sm-10">
            <select id="form-talk-level" name="level" class="form-control">
                <option value="entry" {% if level == 'entry' %}selected {% endif %}>Entry level</option>
                <option value="mid" {% if level == 'mid' %}selected {% endif %}>Mid-level</option>
                <option value="advanced" {% if level == 'advanced' %}selected {% endif %}>Advanced</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="form-talk-other" class="col-sm-2 control-label">Additional Talk Information</label>
        <div class="col-sm-10">
            <textarea id="form-talk-other" name="other" class="form-control" placeholder="Other Considerations, such as Joind.In, Lanyrd, local user group, etc." rows="10">{{ other }}</textarea>
            <p class="help-block">Talk additional information can be written using <a href="http://daringfireball.net/projects/markdown/basics" target="_blank">markdown</a> to support links</p>
        </div>
    </div>
    <div class="form-group">
        <label for="form-sponsor" class="col-sm-2 control-label">Company Sponsorship</label>
        <div class="col-sm-10">
            <div class="checkbox">
                <label for="form-sponsor">
                    <input id="form-sponsor" name="sponsor" type="checkbox" value="1" {% if sponsor == '1' %}checked{% endif %}> Is your company sponsoring, or would they like to?
                </label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="form-desired" class="col-sm-2 control-label">Most Desired</label>
        <div class="col-sm-10">
            <div class="checkbox">
                <label for="form-desired">
                    <input id="form-desired" name="desired" type="checkbox" value="1" {% if desired == '1' %}checked{% endif %}> Of your submissions, is this your best?
                </label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-success">{{ buttonInfo }}</button>
        </div>
    </div>
</form>
