<form id="signup" action="{{ url('user_create') }}" method="POST" enctype="multipart/form-data" class="form-horizontal" role="form">
    {{ form_errors(form) }}
    {{ form_widget(form._token) }}
    {% if id is defined %}
        {{ form_widget(form.id) }}
    {% endif %}
    <div class="form-group">
        <label for="form-user-email" class="col-sm-2 control-label">Email</label>
        <div class="col-sm-10">
            {{ form_widget(form.email) }}
        </div>
    </div>
    {% if user is not defined %}
        <div class="form-group">
            <label for="form-user-password" class="col-sm-2 control-label">Password</label>
            <div class="col-sm-10">
                {{ form_widget(form.password.first) }}
            </div>
        </div>
        <div class="form-group">
            <label for="form-user-password" class="col-sm-2 control-label">Password</label>
            <div class="col-sm-10">
                {{ form_widget(form.password.second) }}
            </div>
        </div>
    {% endif %}
    <div class="form-group">
        <label for="form-user-first-name" class="col-sm-2 control-label">First Name</label>
        <div class="col-sm-10">
            {{ form_widget(form.first_name) }}
        </div>
    </div>
    <div class="form-group">
        <label for="form-user-last-name" class="col-sm-2 control-label">Last Name</label>
        <div class="col-sm-10">
            {{ form_widget(form.last_name) }}
        </div>
    </div>
    <div class="form-group">
        <label for="form-user-company" class="col-sm-2 control-label">Company</label>
        <div class="col-sm-10">
            {{ form_widget(form.company) }}
        </div>
    </div>
    <div class="form-group">
        <label for="form-user-twitter" class="col-sm-2 control-label">Twitter</label>
        <div class="col-sm-10">
            {{ form_widget(form.twitter) }}
        </div>
    </div>
    <div class="form-group">
        <label for="form-user-bio" class="col-sm-2 control-label">Speaker Bio</label>
        <div class="col-sm-10">
            {{ form_widget(form.speaker_bio) }}
            <p class="help-block">Speaker bio can be written using <a href="http://daringfireball.net/projects/markdown/basics" target="_blank">markdown</a> to support links</p>
        </div>
    </div>
    {% if site.online_conference == false %}
    <div class="form-group">
        <label for="form-user-airport" class="col-sm-2 control-label">Departing Airport Code</label>
        <div class="col-sm-10">
            {{ form_widget(form.airport) }}
        </div>
    </div>
    {% endif %}
    <div class="form-group">
        <label for="form-user-notes" class="col-sm-2 control-label">Additional Notes</label>
        <div class="col-sm-10">
            {{ form_widget(form.speaker_info) }}
            <p class="help-block">Speaker notes can be written using <a href="http://daringfireball.net/projects/markdown/basics" target="_blank">markdown</a> to support links</p>
        </div>
    </div>
    {% if site.online_conference  == false %}
    <div class="form-group">
        <label for="form-transportation" class="col-sm-2 control-label">Airfare?</label>
        <div class="col-sm-10">
            <div class="checkbox">
                <label for="form-transportation">
                    <input id="{{ form.transportation.vars.id }}" name="signup_form[transportation]" type="checkbox" value="{{ form.transportation.vars.value }}" {{ form.transportation.vars.checked }}> I need help with flight cost.
                </label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="form-hotel" class="col-sm-2 control-label">Hotel?</label>
        <div class="col-sm-10">
            <div class="checkbox">
                <label for="form-hotel">
                    <input id="{{ form.hotel.vars.id }}" name="signup_form[hotel]" type="checkbox" value="{{ form.hotel.vars.value }}" {{ form.hotel.vars.checked }}> I need help with hotel cost.
                </label>
            </div>
        </div>
    </div>
    {% endif %}
    <div class="form-group">
        <label for="form-user-photo" class="col-sm-2 control-label">Photo</label>
        <div class="col-sm-10">
            {{ form_widget(form.speaker_photo) }}
            {% if preview_photo is defined and preview_photo is not empty %}
                <img src="{{ preview_photo }}" class="profile-photo">
            {% endif %}
        </div>
    </div>
    {% if coc_link is defined and coc_link is not empty %}
    <div class="form-group">
        <label for="form-agree-coc" class="col-sm-2 control-label">Code of Conduct</label>
        <div class="col-sm-10">
            <div class="checkbox">
                <label for="form-agree-coc">
                    {{  form_widget(form.agree_coc) }}
                </label>
            </div>
        </div>
    </div>
    {% endif %}
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-success">{{ buttonInfo }}</button>
        </div>
    </div>
</form>
