{% extends "layouts/default.twig" %}
{% block content %}
<h2>Talk Details</h2>
<h3>{{ talk.title}}</h3>
<h4>Submitted by {{ speaker.name }}</h4>
<h4>{{ talk.type }}</h4>
<p>
{{ talk.description|raw }}
</p>
<br><br>
<h3>Speaker Info</h3>
{{ speaker.info|raw }}
<h3>Speaker Bio</h3>
{{ speaker.bio|raw }}
<br><br>
{% if otherTalks | length > 0 %}
<h4>Other talks by this speaker</h4>
{% for talk in otherTalks %}
<a href="{{ site.url}}/admin/talks/view/{{ talk.id }}/page/{{ page }}">{{ talk.title }}</a> [{{ talk.type}}]<br>
{% endfor %}
<br>
{% endif %}
<a href="{{ site.url}}/admin/talks/{{ page }}">Return to viewing all talks</a>
{% endblock %}

