{% extends "layouts/admin.twig" %}
{% block content %}
    <h2 class="headline">Speakers</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th align='left'><b>Full Name</b></th>
                <th align='left'><b>Company</b></th>
                <th align='left'><b>Twitter</b></th>
                <th align='left'><b>Email</b></th>
                <th align='left'><b>Airport</b></th>
                <th align='left'><b>Created On</b></th>
            </tr>
        </thead>
        <tbody>
            {% for speaker in speakers %}
                <tr>
                    <td><a href="{{ site.url }}/admin/speakers/{{ speaker.id }}">{{ speaker.first_name }} {{ speaker.last_name }}</a></td>
                    <td>{{ speaker.company }}</td>
                    <td>{{ speaker.twitter }}</td>
                    <td><a href="mailto:{{ speaker.email }}">{{ speaker.email }}</a></td>
                    <td><a href="https://www.google.com/flights/#search;f={{ speaker.airport|upper }};t={{ airport|upper }};d={{ arrival }};r={{ departure }}" target="_blank">View Flight Cost ({{ speaker.airport }})</a></td>
                    <td>{{ speaker.created_at|date("F jS \\a\\t g:ia T") }}</td>
                    <td><a href="{{ site.url }}/admin/speakers/delete/{{ speaker.id }}" onClick="return confirm('Are you sure you want to delete this user');">Delete</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ pagination|raw }}
{% endblock %}
