<table class="table table-striped">
    <thead>
        <tr>
            <th align='left'><b>Title</b></th>
            <th align='left'><b>Category</b></th>
            <th align='left'><b>Created On</b></th>
            <th align='left'><b>Submitted by</b></th>
        </tr>
    </thead>
    <tbody>
        {% for talk in talks %}
            <tr>
                <td><a href="{{ site.url }}/admin/talks/{{ talk.id }}" target="new">{{ talk.title|raw }}</a></td>
                <td>{{ talk.category }}</td>
                <td>{{ talk.created_at|date("F jS Y \\a\\t g:ia T") }}</td>
                {% if false == talk.user %}
                <td><em>Unknown User</em></td>
                {% else %}
                <td><a href="{{ site.url }}/admin/speakers/{{ talk.user.id }}">{{ talk.user.first_name }} {{ talk.user.last_name }}</a></td>
                {% endif %}
            </tr>
        {% endfor %}
    </tbody>
</table>

