<table class="table table-striped">
    <thead>
        <tr>
            <th align='left'><b>Title</b></th>
            <th align='left'><b>Category</b></th>
            <th align='left'><b>Created On</b></th>
            <th align='left'><b>Submitted by</b></th>
            <th align='left'><b>Rating</b></th>
            <th align='left'><b># of Reviews</b></th>
        </tr>
    </thead>
    <tbody>
        {% for talk in talks %}
            <tr>
                <td><a href="{{ url('admin_talk_view', { id: talk.id }) }}" target="new">{{ talk.title|raw }}</a></td>
                <td>{{ talk.category }}</td>
                <td>{{ talk.created_at|date("F jS Y \\a\\t g:ia T") }}</td>
                {% if false == talk.user %}
                <td><em>Unknown User</em></td>
                {% else %}
                <td><a href="{{ url('admin_speaker_view', { id: talk.user.id }) }}">{{ talk.user.first_name }} {{ talk.user.last_name }}</a></td>
                {% endif %}
                <td>{{ talk.total_rating }}</td>
                <td>{{ talk.review_count }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

