<header class="header">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <img src="/assets/img/mwphp-logo.png" class="svg-inject event-logo" alt="Event Logo">
                </div>
                <div class="col-md-9">
                    {% if cfp_open %}
                        <h1 class="headline headline-alpha">Call For Papers Now Open!</h1>
                        <h3 class="headline headline-alpha">Submissions accepted until {{ site.enddate | date(site.date_format) }}</h3>
                    {% else %}
                        <h1 class="headline headline-alpha">
                            {% if site.show_submission_count %}
                                Call for Papers ended with {{ number_of_talks }} Submissions!
                            {% else %}
                                Call for Papers has ended!
                            {% endif %}
                        </h1>
                        <h3 class="headline headline-alpha">Submissions were accepted until {{ site.enddate }}</h3>
                    {% endif %}
                    <p>
                        {% if cfp_open %}<a class="btn-opencfp btn-opencfp-medium btn-opencfp--outlined" href="{{ url('user_new') }}">Register Now</a>{% endif %}
                        <a class="btn-opencfp btn-opencfp-medium btn-opencfp--primary" href="{{ url('dashboard') }}">View Submissions</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</header>
<section class="section section--light">
    <div class="container">
        <div class="row">
            {% if site.event_location is defined and site.date_format is defined %}
            <div class="col-md-8"><h3 class="headline headline--alpha">
                {{ site.title }} is  on {{ site.arrival|date(site.date_format, false) }} to {{ site.departure|date(site.date_format, false) }} in {{ site.event_location }}
            </h3></div>
            {%  else %}
                <div class="col-md-8"><h3 class="headline headline--alpha">For More Information About The Conference</h3></div>
            {% endif %}
            <div class="col-md-4 text-right"><a href="{{ site.eventurl }}" class="btn-opencfp btn-opencfp-medium btn-opencfp--light">Visit Conference Site</a></div>
        </div>
    </div>
</section>