{% block subject %}{{ name }}, please confirm your account{% endblock %}

{% block from %}vicmetcalfe@rogers.com{% endblock %}
{% block from_name %}OpenCFP{% endblock %}

{% block body_html %}
    <p>
        Welcome to OpenCFP.  Please confirm your email address by following
        this link:
    </p>
    <p>
        <a href="{{ method }}://{{ host }}/activate.php?code={{ activationCode }}">{{ method }}://{{ host }}/activate.php?code={{ activationCode }}</a>
    </p>
    <p>
        Thanks,<br>
        &nbsp;&nbsp;The OpenCFP Team.
    </p>
{% endblock %}

{% block body_text %}
Welcome to OpenCFP.  Please confirm your email address by following
this link:

{{ method }}://{{ host }}/activate.php?code={{ activationCode }}

Thanks,
  The OpenCFP Team.
{% endblock %}