{% extends "layouts/default.twig" %}
{% block title %}TrueNorthPHP - Call for Papers Account Creation{% endblock %}
{% block content %}
<div class="row-fluid marketing">
    <div class="span12">
    <h4>Create your TrueNorthPHP Speaker's Account below</h4>
    {% for message in error_messages %}
    {{ message|raw }}<br>
    {% endfor %}
    <form class="form-search" action="signup.php" method="POST">
    <input name='email' type="text" value="{{ email }}" class="input-large search-query" placeholder="E-mail"><br><br>
    <input name='password' type="password" class="input-large search-query" placeholder="Password, at least 5 characters"><br><br>
    <input name='password2' type="password" class="input-large search-query" placeholder="Password (confirm)"><br><br>
    <input name='first_name' type="text" value="{{ first_name}}" class="input-large search-query" placeholder="First name"><br><br>
    <input name='last_name' type="text" value="{{ last_name}}" class="input-large search-query" placeholder="Last name"><br><br>
    <textarea name="speaker_info" class="search-query" rows=5 cols=50 placeholder="Other information (Where you will be travelling from, special needs, etc)">{{speaker_info}}</textarea><br><br>
    <button type="submit" class="btn">Create my account</button>
    </form>
{% endblock %}
