{% extends "layouts/dashboard.twig" %}
{% block scripts %}
{{ parent() }}
<script type="text/javascript">
function deleteTalk(tid) {
    $.ajax({
        type: "POST",
        url: "/talk/delete",
        data: "tid=" + tid + "&user_id=" + {{ user.id }},
        success: function(data, textStatus, jqXHR) {
            if (data.delete == 'ok') {
                alert("Deleted talk!");
                $("#talk-"+tid).remove();
            } else if (data.delete == 'no-user') {
                alert("You must be logged in to delete talks")
            } else {
                alert("Unable to delete talk");
            }
        }
    });
}
</script>
{% endblock %}
{% block content %}
    <span class="pull-right">Welcome <strong>{{ user.first_name }} {{ user.last_name }}</strong></span>

    <h2 class="headline">My Profile</h2>
    <div class="row">
        <div class="col-md-3">
            <p>
                {% if speaker_photo is defined and speaker_photo is not empty %}
                    <img src="{{ preview_photo }}" class="profile-photo img-responsive" />
                {% else %}
                    <img src="/assets/img/dummyphoto.jpg" class="profile-photo img-responsive" />
                {% endif %}
            </p>
            <p><a href="{{ url('user_edit', { id: user.id }) }}" class="btn btn-success btn-block">Edit Profile</a></p>
        </div>
        <div class="col-md-9">
            <br />
            <strong>Name:</strong> {{ first_name }} {{ last_name }} <a href="https://twitter.com/@{{ twitter }}" title="{{ first_name }} {{ last_name }} on Twitter">@{{ twitter }}</a><br />
            <strong>Company:</strong> {{ company }}<br />
            <strong>Airport:</strong> {{ airport }}<br />
            <strong>Bio:</strong> {{ speaker_bio|striptags|markdown }}<br /><br />
            <strong>Other Info:</strong> {{ speaker_info|striptags|markdown }}<br /><br />

            <strong>Need Transportation:</strong> {% if transportation == '1' %} Yes {% else %} No {% endif %}<br />
            <strong>Need Hotel:</strong> {% if hotel == '1' %} Yes {% else %} No {% endif %}
        </div>
    </div>

    <h2 class="headline">My Talks</h2>
    {% if myTalks is defined %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Talk Name</th>
                <th>Type</th>
                <th>Category</th>
                <th>Created On</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
        {% for talk in myTalks %}
            <tr id="talk-{{ talk.id }}">
                <td><b>{{ talk.title|raw }}</b></td>
                <td>{{ talk.type }}</td>
                <td>{{ talk.category }}</td>
                <td>{{ talk.created_at|date("F jS \\a\\t g:ia T") }}</td>
                <td><a href="{{ url('talk_edit', { id: talk.id }) }}">Edit</a></td>
                <td><a href="#" onClick="deleteTalk('{{ talk.id }}');return false;">Delete</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
        You currently have no talks submitted.
    {% endif %}
    <p><a class="btn btn-success" href="{{ url('talk_new') }}">Submit a talk</a></p>
{% endblock %}
