{% extends "layouts/dashboard.twig" %}
{% block scripts %}
{{ parent() }}
<script type="text/javascript">
function deleteTalk(tid) {
    $.ajax({
        type: "POST",
        url: "/talk/delete",
        data: "tid=" + tid + "&user_id=" + {{ user.id }},
        success: function(data, textStatus, jqXHR) {
            if (data.delete == 'ok') {
                alert("Deleted talk!");
                $("#talk-"+tid).remove();
            } else if (data.delete == 'no-user') {
                alert("You must be logged in to delete talks")
            } else {
                alert("Unable to delete talk");
            }
        }
    });
}
</script>
{% endblock %}
{% block content %}
    <span class="pull-right">Welcome <strong>{{ profile.name }}</strong></span>

    <h2 class="headline">My Profile</h2>
    <div class="row">
        <div class="col-md-3">
            <p>
                {% if profile.photo is not empty %}
                    <img src="{{ uploads(profile.photo) }}" class="profile-photo img-responsive" />
                {% else %}
                    <img src="{{ assets('img/dummyphoto.jpg') }}" class="profile-photo img-responsive" />
                {% endif %}
            </p>
            <p><a href="{{ url('user_edit', { id: user.id }) }}" class="btn btn-success btn-block">Edit Profile</a></p>
        </div>
        <div class="col-md-9">
            <br />
            <strong>Name:</strong> {{ profile.name }} <a href="https://twitter.com/@{{ profile.twitter }}" title="{{ profile.name }} on Twitter">@{{ profile.twitter }}</a><br />
            <strong>Company:</strong> {{ profile.company }}<br />
            <strong>Airport:</strong> {{ profile.airport }}<br />
            <strong>Bio:</strong> {{ profile.bio|striptags|markdown }}<br /><br />
            <strong>Other Info:</strong> {{ profile.info|striptags|markdown }}<br /><br />

            <strong>Need Transportation:</strong> {% if profile.transportation == '1' %} Yes {% else %} No {% endif %}<br />
            <strong>Need Hotel:</strong> {% if profile.hotel == '1' %} Yes {% else %} No {% endif %}<br />
            <strong>API Token:</strong> {{ profile.token }}<br />
        </div>
    </div>

    <h2 class="headline">My Talks</h2>
    {% if profile.talks is not empty %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Talk Name</th>
                <th>Type</th>
                <th>Category</th>
                <th>Created On</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
        {% for talk in profile.talks %}
            <tr id="talk-{{ talk.id }}">
                <td><b>{{ talk.title|raw }}</b></td>
                <td>{{ talk.type }}</td>
                <td>{{ talk.category }}</td>
                <td>{{ talk.created_at|date("F jS \\a\\t g:ia T") }}</td>
                {% if cfp_open %}
                    <td><a href="{{ url('talk_edit', { id: talk.id }) }}">Edit</a></td>
                {% else %}
                    <td><a href="{{ url('talk_view', { id: talk.id }) }}">View</a></td>
                {% endif %}
                <td><a href="#" onClick="deleteTalk('{{ talk.id }}');return false;">Delete</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
        You currently have no talks submitted.
    {% endif %}
    <p><a class="btn btn-success" href="{{ url('talk_new') }}">Submit a talk</a></p>
{% endblock %}
