{% extends "layouts/default.twig" %}
{% block content %}
<h2>My Talks</h2>
Welcome <a href="/profile/edit/{{user.id}}">{{user.login}}</a>
{% if myTalks %}
<table>
<tr>
<th>Talk Name</th>
<th>&nbsp;</th>
</tr>
{% for talk in myTalks %}
<tr>
<td><b>{{ talk.title }}</b></td>
<td><a href="/talk/edit/{{ talk.id}}">Edit</a></td>
<td><a href="/talk/delete/{{ talk.id }}">Delete</a></td>
</tr>
{% endfor %}
</table>
{% else %}
You currently have no talks submitted. 
{% endif %}
<br><br>
<a class="btn btn-large btn-success" href="/submit_talk">Submit a talk</a>
{% endblock %}
