{% extends "layouts/default.twig" %}

{% block scripts %}
{{ parent() }}
<script type="text/javascript">
function deleteTalk(tid) {
    $.ajax({
        type: "POST",
        url: "/talk/delete",
        data: "id=" + tid + "&user_id=" + {{ app.user.id }},
        success: function(data, textStatus, jqXHR) {
            if (data.delete == 'ok') {
                alert("Deleted talk!");
                $("#talk-"+tid).remove();
            } else if (data.delete == 'no-user') {
                alert("You must be logged in to delete talks")
            } else {
                alert("Unable to delete talk");
            }
        }
    });
}
</script>
{% endblock scripts %}

{% block content %}
Welcome <strong>{{ app.user.login }}</strong>
<br><br>
<a href="{{ site.url }}/profile/edit/{{ app.user.id }}">Edit Profile</a><br>
<a href="{{ site.url }}/profile/change_password">Change Password</a>
<br><br>

<h2>My Talks</h2>
{% if talks %}
    <table class="table">
        <tr>
            <th>Talk Name</th>
            <th>&nbsp;</th>
        </tr>
    {% for talk in talks %}
        <tr id="talk-{{ talk.id }}">
            <td><strong>{{ talk.title }}</strong></td>
            <td><a href="{{ site.url }}/talk/edit/{{ talk.id}}">Edit</a></td>
            <td><a href="#" onClick="deleteTalk('{{ talk.id }}');return false;">Delete</a></td>
        </tr>
    {% endfor %}
    </table>
{% else %}
    You currently have no talks submitted.
{% endif %}
<br><br>
<a class="btn btn-large btn-success" href="{{ site.url }}/talk/create">Submit a talk</a>
{% endblock %}
