{% extends "layouts/default.twig" %}
{% block scripts %}
{{ parent() }}
<script type="text/javascript">
function deleteTalk(tid) {
    $.ajax({
        type: "POST",
        url: "/talk/delete",
        data: "tid=" + tid + "&user_id=" + {{ user.id }},
        success: function(data, textStatus, jqXHR) {
            if (data.delete == 'ok') {
                alert("Deleted talk!");
                $("#talk-"+tid).remove();
            } else if (data.delete == 'no-user') {
                alert("You must be logged in to delete talks")
            } else {
                alert("Unable to delete talk");
            }
        }
    });
}
</script>
{% endblock %}
{% block content %}
Welcome <b>{{ user.login }}<br><br>
<a href="{{ site.url }}/profile/edit/{{user.id}}">Edit Profile</a><br>
<a href="{{ site.url }}/profile/change_password">Change Password</a>
<br><br>
<h2>My Talks</h2>
{% if myTalks is defined %}
<table class="table">
<thead>
<tr>
<th>Talk Name</th>
<th>&nbsp;</th>
</tr>
</thead>
<tbody>
{% for talk in myTalks %}
<tr id="talk-{{ talk.id }}">
<td><b>{{ talk.title }}</b></td>
<td><a href="{{ site.url }}/talk/edit/{{ talk.id}}">Edit</a></td>
<td><a href="#" onClick="deleteTalk('{{ talk.id }}');return false;">Delete</a></td>
</tr>
{% endfor %}
</tbody>
</table>
{% else %}
You currently have no talks submitted.
{% endif %}
<br><br>
<a class="btn btn-large btn-success" href="{{ site.url }}/talk/create">Submit a talk</a>
{% endblock %}
