{% extends "layouts/default.twig" %}
{% block content %}
    <div class="intro--block">
        <div class="intro-body">
            <p><img src="{{ site.url }}/assets/img/ZendCon2014-celebrating10years-WHITE.png" class="logo"></p>
            <p>Submissions accepted until<br />11:59 PM PST <span class="intro-highlight">{{ site.enddate }}</span></p>
            <!-- <p>For information about the conference, please visit:</p>
            <p><a href="{{ site.eventurl }}" target="_blank" rel="external">{{ site.eventurl }}</a></p> -->
            <p>
            {% if user is not defined  %}
                <a class="lsp-btn lsp-btn-large lsp-btn-primary" href="{{ site.url }}/signup"><i class="fa fa-user"></i> Create my profile!</a>
                <a class="lsp-btn lsp-btn-large lsp-btn-primary" href="{{ site.url }}/dashboard"><i class="fa fa-list-alt"></i> View Submissions</a>
            {% endif %}
            </p>
        </div>
    </div>
    {% include "_marketing.twig" %}
{% endblock %}
