<input name="talk[title]" type="text" value="{{ form.get('title') }}" class="input-large search-query" placeholder="Title" size="50" max="100">
<br/><br/>
<textarea name="talk[description]" class="search-query" rows="20" cols="20" placeholder="Description (resize me if I am too small!">
    {{- form.get('description') -}}
</textarea>
<br/><br/>
<select name="talk[type]" class="search-query">
{% for key, type in form.talkTypes %}
    <option value="{{ key }}" {% if form.get('type') == key %}selected="selected"{% endif %}>{{ type }}</option>
{% endfor %}
</select>
<br/><br/>
<input name="talk[id]" type="hidden" value="{{ form.get('id') }}"/>
<button type="submit" class="btn">{{ button_label }}</button>

