{% extends "layouts/reviewer.twig" %}
{% block content %}

    <h2 class="headline">Speakers</h2>
    <form method="get" role="form" class="flex items-center justify-between mb-8">
        <div class="flex items-center w-full">
            <div class="w-full mr-3">
                <label>Search: </label>
                <input tabindex="1" type="text" name="search" {% if search is defined %} value="{{ search }}"{% endif %}>
            </div>
            <div class="mt-3 mr-8 pagerfanta">
                {{ pagination|raw }}
            </div>
        </div>

        <button type="submit" class="btn btn-brand mt-2">Go</button>
    </form>

    {% for speaker in speakers %}
        <div class="flex justify-between items-center mb-8">
            <div class="flex">
                <img class="w-10 h-10 mr-3 rounded-full" src="{{ speaker.photo_path ? uploads(speaker.photo_path) : assets('img/dummyphoto.jpg') }}">
                <div>
                    <h2 class="-mt-2">
                        <a href="{{ url('reviewer_speaker_view', { id: speaker.id }) }}">{{ speaker.first_name }} {{ speaker.last_name }}</a>
                    </h2>
                    <div>
                        {% if speaker.company %}<span class="mr-3"><i class="fa fa-building"></i> {{ speaker.company }}</span>{% endif %}
                        {% if speaker.twitter %}<span class="mr-3"><a class="hover:text-brand" target="_blank" href="{{ speaker.twitterUrl }}" rel="noopener noreferrer"><i class="fa fa-twitter"></i> @{{ speaker.twitter }}</a></span>{% endif %}
                        {% if speaker.email %}<span class="mr-3"><i class="fa fa-envelope"></i> {{ speaker.email }}</span>{% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}
