<form class="form-horizontal" action="{{ url('password_update') }}" method="POST">
    {{ form_errors(form) }}
    {{ form_row(form._token) }}
    {{ form_row(form.password) }}
    {{ form_row(form.user_id) }}
    {{ form_row(form.reset_code) }}
    <button type="submit" class="btn btn-success" >Change my password</button>
</form>