{% block subject %}Password Reset Request{% endblock %}

{% block from %}{{ email }}{% endblock %}
{% block from_name %}{{ title }}{% endblock %}

{% block body_html %}
<p>
Hi there. Someone has requested a password reset for an account using your
email address for our Call for Papers application. Please use the link below
to reset your password.
</p>
<p>
    <a href="{{ url('reset_password', { user_id: user_id, reset_code: reset_code }) }}">{{ url('reset_password', { user_id: user_id, reset_code: reset_code }) }}</a>
</p>
<p>
If you did not initiate this request, don't panic -- your account will still work using your existing email and password combination.
</p>
<p>
<p>
    Thanks,<br>
    &nbsp;&nbsp;The {{ title }} Team.
</p>
{% endblock %}

{% block body_text %}
Hi there. Someone has requested a password reset for an account using your
email address for our Call for Papers application. Please use the link below
to reset your password.

Welcome to OpenCFP.  Please confirm your email address by following
this link:

{{ url('reset_password', { user_id: user_id, reset_code: reset_code }) }}

If you did not initiate this request, don't panic -- your account will still work using your existing email and password combination.

Thanks,
  The {{ title }} Team.
{% endblock %}
