{% extends "layouts/default.twig" %}

{% block sidebar %}
    <h4 class="uppercase text-sm leading-loose text-grey mb-3">Navigation</h4>
    <ul class="list-reset">
        <li class="hover:underline"><a href="{{ url('admin') }}">Dashboard</a></li>
        <li class="hover:underline"><a href="{{ url('admin_speakers') }}">Speakers</a></li>
        <li class="hover:underline"><a href="{{ url('admin_talks') }}">Talks</a></li>
    </ul>

    <h4 class="uppercase text-sm leading-loose text-grey mb-3 mt-6">Export</h4>
    <ul class="list-reset">
        <li class="hover:underline"><a href="{{ url('admin_export_csv') }}">Talks</a></li>
        <li class="hover:underline"><a href="{{ url('admin_export_csv_anon') }}">Anonymized Talks</a></li>
        <li class="hover:underline"><a href="{{ url('admin_export_csv_selected') }}">Selected Talks</a></li>
        <li class="hover:underline"><a href="{{ url('admin_export_csv_emails') }}">Acceptance/Rejection</a></li>
    </ul>
{% endblock %}
